<!doctype html>
<html lang="en">
  <head> 
  	<link rel="stylesheet" type="text/css" href="/public/style.css">   
  	<meta charset="utf8">
  	<title>Sinatra 2</title>
  </head>

  <body> 
  	<%= yield %> 

  	<footer>
  		<p>
  			<small>A <a href="http://bloc.io">Bloc Production</a></small>
  		</p>
  	</footer>
  </body>
</html>