body {
	font: 13px Helmet, Freesans, sans-serif;	
	background-image: url('file:///Users/jonathanbishop/Desktop/Marketsu/site-code/img/bg2.png');
}

h1 {
	font: bold 30px/36px Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

}