
<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<header>
		<div class="nav">
		<ul>
			<li><a href="/">Home</a>
			<li><</a>
			<li><a href="/admin">Admin</a>
		</ul>
		</div>
	</header>
	<div class="navbar">
  		<div class="navbar-inner">
    		<a class="brand" href="#">Title</a>
    		<ul class="nav">
      			<li class="active"><a href="#">Home</a></li>
      			<li><a href="#">Link</a></li>
      			<li><a href="#">Link</a></li>
    		</ul>
  		</div>
	</div>
	<section id="intro">
  <h1><a href="/">A BLOG</a></h1>
  <h3>By Jon Bishop</h3>
	</section>
<%= yield %>
<footer>
		<div class="nav">
		<ul>
			<li><a href="/">Home</a>
			<li><a href="/about">About</a>
			<li><a href="/admin">Admin</a>
		</ul>
		</div>
	</footer>
</div> <!-- wrapper -->
</body>
</html>
